<div class="producto card mt">
    <div class="body-campo nombre">
        <p>Gerardo Rodriguez</p>
    </div>
    <div class="body-campo ventas">
        <p>23</p>
    </div>
    <div class="body-campo estado">
        <p>Activo</p>
    </div>
    <div class="body-campo opciones">
        <button type="button" class="btn" [routerLink]="'empresa'">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn" (click)="desactivarConsumidor()">
            <i class="fa fa-toggle-on"></i>
        </button>
        <button type="button" class="btn" (click)="borrarConsumidor()">
            <i class="fa fa-trash-alt"></i>
        </button>
    </div>
</div>
