h2 {
    text-transform: uppercase;
}
h2::after {
    content: '';
    position: relative;
    bottom: -5px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--dark);
}

.agregar {
    position: absolute;
    top: 7px;
    right: 1rem;
}

.cancelar {
    position: absolute;
    top: 7px;
    right: 12rem;
}

/* ----------------------------------------- Imagen */
.imagen {
    overflow: hidden;
    overflow-y: auto;
    background-color:var(--dark-light);
    border-radius: 5px;
    height: 27rem;
}

/* ----------------------------------------- General -- Inicio */
.general {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
}

.form-campo label {
    font-weight: 700;
}

.form-campo label span {
    font-style: italic;
    font-weight: 500;
}

.form-campo input {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

/* .lateral {
    
} */

.fondo {
    grid-column: 1 / 3;
}

textarea {
    height: 10rem;
}
 /* ----------------------------------------- Caracteristicas */
.informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* dropzone */
ngx-dropzone {
    height: inherit;
}

ngx-dropzone {
    height: 100%;
    background-color: var(--dark-light);
}

ngx-dropzone-image-preview.img-principal {
    height: 100% !important;
    margin: 0 !important;
}

.dropzone-img-secundarias {
    min-height: 160px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
ngx-dropzone-label span {
    font-size: 10rem;
}