<div class="contenedor fadeIn fast">
    <form [formGroup]="formProducto" (ngSubmit)="guardar()">
        <div class="section card mt-2 mb-1 p-relative">
            <h2>Agregar un producto</h2>
            <button class="btn agregar" type="submit">
                <i class="fa fa-save"></i> Guardar
            </button>
            <button class="btn cancelar" type="button" (click)="resetFormulario()" routerLink="/usuario/productos">
                <i class="fa fa-times"></i> Cancelar
            </button>

            <div class="general mtb-1">
                <div class="imagen">
                    <ngx-dropzone class="principal" accept="image/jpeg,image/jpg,image/png" *ngIf="!imgPrincipal"
                        (change)="onSelectPrincipal($event.addedFiles)" [multiple]="false">
                        <ngx-dropzone-label class="w-75 centrar">Seleccione la imagen principal del producto
                        </ngx-dropzone-label>
                    </ngx-dropzone>
                    <ngx-dropzone-image-preview class="img-principal" *ngIf="imgPrincipal" [file]="imgPrincipal"
                        [removable]="true" (removed)="onRemovePrincipal()">
                    </ngx-dropzone-image-preview>
                </div>

                <div class="lateral">
                    <div class="lateral-contenido">
                        <h3 class="mb-1 text-center">Información General</h3>
                        <div class="form-campo">
                            <label>Nombre <span>(Requerido)</span></label>
                            <input type="text" class="form-input w-100 mb-1" formControlName="titulo">
                        </div>
                        <div class="form-campo">
                            <label>Cantidad en Stock <span>(Requerido)</span></label>
                            <input type="number" class="form-input w-100 mb-1" formControlName="cantidadStock">
                        </div>
                        <div class="form-campo">
                            <label>Precio <span>(Requerido)</span></label>
                            <input type="number" class="form-input w-100 mb-1" formControlName="precio">
                        </div>
                        <div class="form-campo">
                            <label>Categoria</label>
                            <select class="form-input w-100 mb-1" formControlName="categoria">
                                <option *ngFor="let i of [1,1,1,1,1,1]" value="i">{{ i }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fondo-contenido">
                <div class="form-campo">
                    <label>Descripción <span>(Requerido)</span></label>
                    <textarea class="form-input w-100 mb-1" formControlName="descripcion"></textarea>
                </div>
            </div>
        </div>

        <div class="card mt-1">
            <div class="dropzone-img-secundarias">
                <ngx-dropzone-image-preview class="img-secundarias" ngProjectAs="ngx-dropzone-preview"
                    *ngFor="let img of imgFiles" [file]="img" [removable]="true" (removed)="onRemove(img)">
                </ngx-dropzone-image-preview>

                <ngx-dropzone accept="image/jpeg,image/jpg,image/png" *ngIf="imgFiles.length < 5"
                    [ngStyle]="{'grid-column': columnDropzone }" (change)="onSelect($event)">
                    <ngx-dropzone-label *ngIf="imgFiles.length < 3">Agregue las imagenes adicionales del producto
                        (maximo 5)</ngx-dropzone-label>
                    <ngx-dropzone-label *ngIf="imgFiles.length >= 3">
                        <span>+</span>
                    </ngx-dropzone-label>
                </ngx-dropzone>
            </div>
        </div>

        <div class="informacion mb-2">
            <div>
                <div class="card mt-1 p-relative" formArrayName="principales">
                    <h3 class="text-center">Caracteristicas Principales</h3>
                    <button class="btn agregar" type="button" (click)="agregarCaracteristica('principal')">
                        <i class="fa fa-plus"></i>
                    </button>
    
                    <table *ngIf="principales.length !== 0" class="tabla mt-2">
                        <thead class="thead-dark">
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>-</th>
                        </thead>
                        <tbody *ngFor="let principal of principales.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td>
                                    <input class="form-input w-95 centrar" type="text"
                                        placeholder="Ejemplo Marca, Modelo, etc" formControlName="titulo">
                                </td>
                                <td>
                                    <input class="form-input w-95 centrar" type="text" placeholder="Ingrese la Descripcion"
                                        formControlName="desc">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger"
                                        (click)="eliminarCaracteristica(i, 'principal')">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- formArray Principales -->
            </div>
            <div>
                <div class="card mt-1 p-relative" formArrayName="secundarias">
                    <h3 class="text-center">Otras Caracteristicas</h3>
                    <button class="btn agregar" type="button" (click)="agregarCaracteristica('secundaria')">
                        <i class="fa fa-plus"></i>
                    </button>
    
                    <table *ngIf="secundarias.length !== 0" class="tabla mt-2">
                        <thead class="thead-dark">
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>-</th>
                        </thead>
                        <tbody *ngFor="let secundaria of secundarias.controls; let i = index">
                            <tr [formGroupName]="i">
                                <td>
                                    <input class="form-input w-95 centrar" type="text"
                                        placeholder="Ejemplo Tamaño, Peso, etc." formControlName="titulo">
                                </td>
                                <td>
                                    <input class="form-input w-95 centrar" type="text" placeholder="Ingrese la Descripcion"
                                        formControlName="desc">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger"
                                        (click)="eliminarCaracteristica(i, 'secundaria')">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>