<div class="container fadeIn fast">
    <div class="card mtb-2 text-center">
        <h2 class="mtb-2">Inicia Seción</h2>
        <div class="formulario w-90 centrar">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
        
                <label class="mb" for="correo">Correo Electronico</label>
                <input class="form-input w-100" type="email" formControlName="email" id="correo">
                <small class="small-error" *ngIf="isInvalid('email')">El correo electronico es necesario</small>
        
                <label class="mb mt-1" for="contrasenia">Contraseña</label>
                <input class="form-input w-100" type="password" formControlName="password" id="contrasenia">
                <small class="small-error" *ngIf="isInvalid('password')">El password es necesario</small>
        
                <div class="recordar">
                    <input type="checkbox" formControlName="recordar" id="recordar">
                    <label class="inline-block" for="recordar">Recordarme</label>
                </div>
        
                <button type="submit" class="btn">Iniciar Seción</button>
                <small class="mt mb-2">Si aún no tienes una cuenta, <a routerLink="/auth/register">Registrate</a> ahora</small>
        
            </form>
        </div>
    </div>
</div>
