
/* ..........................................................................
    container
.......................................................................... */

.container {
    min-height: 70vh;
}

/* ..........................................................................
Card-Login
.......................................................................... */

.card {
    width: 560px;
    position: relative;
    top: -10rem;
}

.input-recordar input {
    margin-right: 0.5rem;
}

form label {
    display: inline-block;
}

form small {
    font-weight: 300;
    display: block;
}

samall.small-error {
    color: red;
}

.recordar {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 2rem auto 1rem auto;
}