/* ==========================================================================
    Background
========================================================================== */
.fondo-sign {
    background-image: url(../../../assets/img/fondo-registro.jpg);
    /* background-repeat: no-repeat;
    background-position: center center; */
    background-size: cover;
    min-height: 768px;
    width: 100%;
    padding-top: 2rem;
    position: relative;
}

.fondo-sign::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.contenedor {
    color: white;
    position: relative;
    z-index: 1;
}
.contenedor h2 {
    text-align: center;
}

/* ==========================================================================
    Formulario
========================================================================== */

.formulario {
    /* width: 25vw; */
    width: 640px;
    min-width: 560px;
    margin: 0 auto;
}

fieldset {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
fieldset:last-of-type {
    margin-top: 1rem;
}
legend {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 0.5rem 1rem;
}

.form-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-up .nombre {
    flex-basis: calc(65% - 0.5rem);
}

.form-up .tel {
    flex-basis: calc(35% - 0.5rem);
}

form label,
form input
{
    margin-bottom: 0.5rem;
    display: inline-block;
}

.doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doc label {
    flex-basis: calc(20% - 1rem);
}
.doc input[type="file"] {
    flex-basis: calc(80% - 1rem);
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid #999999;
    font-weight: 300;
}

.boton {
display: flex;
flex-direction: row-reverse;
}
button.btn {
    margin-top: 1rem;
}
