<div class="card mtb-2 fadeIn fast">
  <h2>Formulario de Registro</h2>
  <div class="formulario">
    <form (ngSubmit)="onSubmit()" [formGroup]=solicitud>
      <fieldset>
        <legend>Datos Generales</legend>

        <div class="flex space-between mt">

          <div class="col-8">
            <label for="nombre">Nombre de la Empresa</label>
            <input formControlName="nombre" type="text" name="nombre" class="form-input w-100">
          </div>

          <div class="col-4">
            <label for="telefono">Telefono</label>
            <input formControlName="telefono" type="text" name="telefono" class="form-input w-100">
          </div>

        </div>
        <div class="email mt">
          <label for="correo">Dirección de Correo Electrónico</label>
          <input formControlName="correo" type="text" name="correo" class="form-input w-100">
        </div>

      </fieldset>

      <fieldset class="mt-1">
        <legend>Documetos</legend>

        <div class="doc">
          <label for="rfc">RFC</label>
          <input class="form-input w-100 mt mb-1" formControlName="rfc" type="file" name="rfc" id="rfc">
        </div>

        <div class="doc">
          <label for="domicilio">Comprobante de Domicilio</label>
          <input class="form-input w-100 mt mb-1" formControlName="domicilio" type="file" name="domicilio" id="domicilio">
        </div>

        <div class="doc">
          <label for="ine">INE</label>
          <input class="form-input w-100 mt" formControlName="ine" type="file" name="ine" id="ine">
        </div>

      </fieldset>
        <div class="text-right">
          <button class="btn mt-1" type="submit">Registrar</button>
        </div>
    </form>
  </div>
</div>