.producto {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 2fr 2fr;
    text-align: center;

    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 1rem;
    margin-bottom: 5px;
}

.body-campo {
    align-self: center;
}

.imagen img {
    width: 25px;
}

.opciones {
    display: flex;
    justify-content: space-between;
}

.opciones > :nth-child(n) {
    flex-basis: 30%;
}