.buscar {
    display: flex;
    align-items: center;
}
.buscar .form-input {
    width: unset;
    margin-right: 1rem;
}

/* ----------------------------------------- TABLA */
.header-tabla, 
.body-row {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 1rem;
}

.header-row,
.body-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 5px;
}

.body-tabla {
    margin-top: 5px;
}

.body-row .campo-tabla {
    align-self: center;
}

