<div class="contenedor fast fadeIn">
    <div class="barra mt-1">
        <div class="buscar">
            <p class=" mr-1">Buscar:</p>
            <div class="select">
                <select class="form-input" name="tipo" id="tipo">
                    <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option> 
                </select>
    
                <select class="form-input" name="filtro" id="filtro">
                    <option value="dia">Durante el dia</option>
                    <option value="semana">Última semana</option>
                    <option value="mes">Último Mesa</option>
                </select>
            </div>
        </div>
    </div>
    <div class="tabla mt-2">
        <div class="header-tabla">
            <div class="header-row">
                <div class="campo-header">
                    <h4>Numero de Pedido</h4>
                </div>
                <div class="campo-header">
                    <h4>Fecha de Pedido</h4>
                </div>
                <div class="campo-header">
                    <h4>Detalles del Pedido</h4>
                </div>
                <div class="campo-header">
                    <h4>Comprador</h4>
                </div>
                <div class="campo-header">
                    <h4>Estado</h4>
                </div>
                <div class="campo-header">
                    <h4>Acciones</h4>
                </div>
            </div>
        </div>
        <div class="body-tabla">
            <div class="body-row" *ngFor="let pedido of [1,1,1,1,1,1,1,1]; let i = index">
                <div class="campo-tabla">
                    <p>{{ i + 1 }}</p>
                </div>
                <div class="campo-tabla">
                    <p>{{ fecha }}</p>
                </div>
                <div class="campo-tabla">
                    <p>ID:<span>F2X3511E38C-4SDF5</span></p>
                    <a [routerLink]="['pedido']">ver más</a>
                </div>
                <div class="campo-tabla">
                    <a [routerLink]="['entregas-pendientes']">Ricardo Garcia</a>
                </div>
                <div class="campo-tabla">
                    <p>Pendiente de pago</p>
                </div>
                <div class="campo-tabla">
                    <p>Campo</p>
                </div>
            </div>
        </div>
    </div>
</div>