.file-over {
    border: 2px dashed green;
}

h2 {
    text-transform: uppercase;
}
h2::after {
    content: '';
    position: relative;
    bottom: -5px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--dark);
}
/* ----------------------------------------- Imagen */
.imagen {
    overflow: hidden;
    overflow-y: auto;
    background-color:var(--dark-light);
    border-radius: 5px;
    height: 30rem;
}
.imagen-contenido {
    position: relative;
    top: 8rem;
}
.imagen-contenido i,
.imagen-contenido p {
    color: gray;
}
.imagen-contenido p {
    font-weight: 700;
    margin-top: 5px;
    font-style: italic;
}

/* ----------------------------------------- General -- Inicio */
.general {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;

    width: 90%;
    margin: 2rem auto 1rem auto;
}

.form-campo label {
    font-weight: 700;
}

.form-campo label span {
    font-style: italic;
    font-weight: 500;
}

.form-campo input {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

/* .lateral {
    
} */

.fondo {
    grid-column: 1 / 3;
}
 /* ----------------------------------------- Caracteristicas */
.informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.section {
    background-color: white;
    border: 1px solid var(--dark-light);
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    min-height: 5rem;
    margin-top: 2rem;
}

.agregar {
    position: absolute;
    top: 5px;
    right: 1rem;
}

.cancelar {
    position: absolute;
    top: 5px;
    right: 12rem;
}