<div class="producto card mt">
    <div class="body-campo nombre">
        <p>Prodeco S.A. de C.V.</p>
    </div>
    <div class="body-campo ventas">
        <a routerLink="comercio/ventas">214</a>
    </div>
    <div class="body-campo ganancia">
        <p>$2000</p>
    </div>
    <div class="body-campo estado">
        <label class="switch">
            <input type="checkbox" checked [formControl]="estado" (change)="cambio()">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="body-campo direcciones">
        <a routerLink="comercio/productos">34</a>
    </div>
    <div class="body-campo">
        <button type="button" class="btn mr" routerLink="comercio">Ver Perfil</button>
        <button type="button" class="btn">Mensajes</button>
    </div>
</div>
