<div class="contenedor fast fadeIn">
    <h2 class="text-center mt-2">Detalles De Venta</h2>
    
    <table class="tabla mt-2">
        <thead class="thead-dark">
            <tr>
                <th>Producto</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Suma</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mouse Gamer X</td>
                <td>Steren</td>
                <td>XTDG-98</td>
                <td>2</td>
                <td>230</td>
                <td>460</td>
            </tr>
            <tr>
                <td>Pantalla 4k</td>
                <td>LG</td>
                <td>XLKH</td>
                <td>1</td>
                <td>4800</td>
                <td>4800</td>
            </tr>
            <tr>
                <td>Teclado X</td>
                <td>Steren</td>
                <td>XLLN-55</td>
                <td>1</td>
                <td>340</td>
                <td>340</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="fw-700">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="dark-light">TOTAL</td>
                <td class="dark-light">5600</td>
            </tr>
        </tfoot>
    </table>

    <h2>Detalles Comprador</h2>
    <table class="tabla">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>CURP</th>
                <th>Calle</th>
                <th>Numero</th>
                <th>CP</th>
                <th>Colonia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ricardo Garcia Arreola</td>
                <td>GAAR970207HDGRRC09</td>
                <td>Pereyra</td>
                <td>420</td>
                <td>34000</td>
                <td>Zona Centro</td>
            </tr>
        </tbody>
    </table>
</div>