.navbar {
    background-color: var(--dark);
    color: white;
    padding: 1.5rem 0;
}

.derecha {
    display: flex;
    align-items: center;
}

.derecha a {
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

.barra1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    margin: 0;
}

.nav {
    margin-top: 2rem;
}

.nav a {
    color: white;
    position: relative;
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.derecha a:hover,
.nav a:hover {
    color: white;
}

.nav a:hover::after,
.nav a:hover::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}
.nav a:hover::after {
    bottom: -7px;
}
.nav a:hover::before {
    top: -7px;
}
