<div class="navbar">

    <div class="contenedor-nav">
        <div class="barra1">
            <div class="logo">
                <h2>Marketplace {{origen|uppercase}}</h2>
            </div>
            <div class="derecha">
                <a *ngIf="origen === 'comercio'" routerLink="perfil">Mi Perfil</a>
                <a href="admin/mensajes">Mensajes</a>
                <a href="**">Notificaciones</a>
            </div>
        </div>
        <nav class="nav" *ngIf="origen === 'comercio'">
            <a routerLinkActive="active" routerLink="/">
                <i class="fas fa-home"></i> Home
            </a>
            <a routerLinkActive="active" routerLink="pedidos">
                <i class="fas fa-box-open"></i> Pedidos
            </a>
            <a routerLinkActive="active" routerLink="ventas">
                <i class="fas fa-money-check-alt"></i> Ventas
            </a>
            <a routerLinkActive="active" routerLink="productos">
                <i class="fas fa-book"></i> Productos
            </a>
        </nav>

        <nav class="nav" *ngIf="origen === 'admin'">
            <a routerLinkActive="active" routerLink="/admin">
                <i class="fas fa-home"></i> Home
            </a>
            <a routerLinkActive="active" routerLink="comercios">
                <i class="fas fa-box-open"></i> Comercios
            </a>
            <a routerLinkActive="active" routerLink="consumidores">
                <i class="fas fa-money-check-alt"></i> Consumidores
            </a>
            <a routerLinkActive="active" routerLink="solicitudes">
                <i class="fas fa-money-check-alt"></i> Solicitudes
            </a>
        </nav>
    </div>
</div>