
.card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.izquierda {
    flex-basis: 30%;
}

.imagen-perfil {
    border-radius: 5px;
}

.derecha {
    flex-basis: 62%;
}

.telefono {
    flex-basis: 30%;
}

.email {
    flex-basis: 65%;
}

.campo {
    display: flex;
    justify-content: space-between;
}

.campo label {
    flex-basis: 18%;
}

.campo input {
    flex-basis: 80%;
}
/*
p, h2 {
    margin: 0;
}

h2 {
    margin-bottom: 5px;
}
.portada {
    background-image: url(../../../../assets/img/portada.jpg);
    background-position: center center;
    height: 260px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.portada::after {
    content: '';
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.perfil-nombre {
    position: relative;
    left: 15%;
    top: -13rem;
    display: grid;
    width: 60%;
    min-width: 640px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.perfil-nombre img {
    border-radius: 50%;
    border: 5px solid white;
    grid-row: 1 / 3;
}

.perfil-nombre img:hover {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.perfil-nombre .texto-perfil {
    margin: 7rem 0 0 2rem;
    color: white;
}

.botones {
    text-align: right;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
 
*/