<div class="contenedor">
  <div class="card flex space-between mt-2">

    <div class="izquierda col-4">
      <ngx-dropzone *ngIf="!img" [multiple]="false" (change)="cambioImagen($event)" class="perfil mt-1"
        accept="image/jpeg,image/jpg,image/png" [multiple]="false">
      </ngx-dropzone>

      <ngx-dropzone-image-preview *ngIf="img" [file]="img" [removable]="true" (removed)="eliminarImg()">

      </ngx-dropzone-image-preview>
    </div>

    <div class="derecha col-8">

      <div class="boton text-right">
        <button type="submit" class="btn guardar mr" *ngIf="formPerfil.enabled">Guardar</button>
        <button type="button" *ngIf="formPerfil.disabled" (click)="editar()" class="btn">Editar</button>
        <button type="button" *ngIf="formPerfil.enabled" (click)="editar()" class="btn">Cancelar</button>
      </div>

      <form [formGroup]="formPerfil" (submit)="guardar()">
        <fieldset class="contacto mt-1">
          <h4 class="text-center">Contacto</h4>

          <div class="flex space-between mt-1">
          
            <div class="form-campo col-6">
              <label class="mr-1">Nombre:</label>
              <input formControlName="nombre" type="text" class="form-input w-100">
            </div>
          
            <div class="form-campo col-6">
              <label class="mr-1">RFC:</label>
              <input formControlName="rfc" type="text" class="form-input w-100">
            </div>

          </div>

          <div class="flex space-between">
            <div class="form-campo mt col-6">
              <label>Telefono:</label>
              <input formControlName="telefono" type="text" class="form-input w-100">
            </div>
            <div class="form-campo mt col-6">
              <label>Email:</label>
              <input formControlName="email" type="text" class="form-input w-100">
            </div>
          </div>
        </fieldset>
        <fieldset class="mt-1">
          <h4 class="text-center">Domicilio</h4>
          <div class="flex space-between">
            <div class="form-campo col-4 mt">
              <label>Calle:</label>
              <input formControlName="calle" type="text" class="form-input w-100">
            </div>
            <div class="form-campo col-4 mt">
              <label>Numero Int:</label>
              <input formControlName="numeroInt" type="text" class="form-input w-100">
            </div>
            <div class="form-campo col-4 mt">
              <label>Numero Ext:</label>
              <input formControlName="numeroExt" type="text" class="form-input w-100">
            </div>
          </div>
          <div class="flex space-between">
            <div class="form-campo col-6 mt">
              <label>Codigo Postal:</label>
              <input formControlName="cp" type="text" class="form-input w-100">
            </div>
            <div class="form-campo col-6 mt">
              <label>Colonia:</label>
              <input formControlName="colonia" type="text" class="form-input w-100">
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>