.card {
    max-height: 33rem;
}

.perfil {
    height: 97%;
}

ngx-dropzone-image-preview {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.boton button {
    position: absolute;
    top: -4px;
    right: 7px;
}

.boton button.guardar {
    position: absolute;
    top: -4px;
    right: 9rem;
}

.derecha {
    position: relative;
}

fieldset {
    border-radius: 5px;
}