<div class="card pedido mt">
    <div class="campo">
        <p>{{ fecha | titlecase}}</p>
    </div>
    <div class="campo">
        <a href="/">Ricardo Garcia</a>
    </div>
    <div class="campo">
        <select class="form-input">
            <option value="pendiente">Pendiente</option>
            <option value="enviado">Enviado</option>
        </select>
    </div>
    <div class="campo">
        <p>1248-5846-3627</p>
    </div>
    <div class="campo">
        <p><a routerLink="pedido">ver mas</a></p>
    </div>
    <div class="campo flex">
        <button class="btn mr">Mensaje</button>
        <button class="btn">Eliminar</button>
    </div>
</div>