.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}

/* ----------------------------------------- CARD */

.card h3::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--dark);
}

/* ----------------------------------------- primer columna */

.pedidos h4 {
    margin-left: 2rem;
    margin-top: 2rem;
}

.pedidos a {
    display: block;
    color: black;
    font-weight: 500;
    margin-top: 1.5rem;
    text-align: center;
}



.pedidos .elemento {
    background-color: var(--dark-light);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}
.pedidos .elemento p {
    font-weight: 700;
}

/* ----------------------------------------- tercera columna */

p.actualizacion {
    font-size: 1.2rem;
}

.ventas .texto {
    margin-top: 1rem;
    font-weight: bolder;
}

.ventas .texto,
.ventas .elemento {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ventas .elemento p {
    padding: 1rem 0; 
}

.ventas .elemento::before {
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--dark-light);
}
