<ion-list *ngIf="type === 'opciones-producto'">
  <ion-item>
    <ion-label>Ver Producto</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Eliminar</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Comprar Solo Este Producto</ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="type === 'opciones-direcciones'">
  <ion-item (click)="opcion('editar')">
    <ion-label>
      Editar
    </ion-label>
  </ion-item>
  <ion-item (click)="opcion('eliminar')">
    <ion-label>
      Eliminar
    </ion-label>
  </ion-item>
</ion-list>