<div class="producto card mt">
    <div class="body-campo nombre">
        <p>Prodeco S.A. de C.V.</p>
    </div>
    <div class="body-campo ventas">
        <p>251</p>
    </div>
    <div class="body-campo ganancia">
        <p>2000</p>
    </div>
    <div class="body-campo estado">
        <p> {{estado}} </p>
    </div>
    <div class="body-campo productos">
        <a href="/">34</a>
    </div>
    <div class="body-campo opciones">
        <button type="button" class="btn" [routerLink]="'empresa'">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn" (click)="desactivarComerciante()">
            <i class="fa fa-toggle-on"></i>
        </button>
        <button type="button" class="btn" (click)="borrarComerciante()">
            <i class="fa fa-trash-alt"></i>
        </button>
    </div>
</div>
