<div class="producto card mt">
    <div class="body-campo nombre">
        <p>Prodeco S.A. de C.V.</p>
    </div>
    <div class="body-campo ventas">
        <a href="/">214</a>
    </div>
    <div class="body-campo ganancia">
        <p>2000</p>
    </div>
    <div class="body-campo estado">
        <p>Activo</p>
    </div>
    <div class="body-campo productos">
        <a href="/">34</a>
    </div>
    <div class="body-campo opciones">
        <button type="button" class="btn" [routerLink]="['producto']">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn">
            <i class="fa fa-toggle-on"></i>
        </button>
        <button type="button" class="btn">
            <i class="fa fa-trash-alt"></i>
        </button>
    </div>
</div>
