
.agregar {
    text-align: right;
}

/* ----------------------------------------- Filtros */

#filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#filtros .estado {
    display: flex;
    align-items: center;
}

#filtros .estado p,
#filtros .estado label {
    font-weight: 700;
}

#filtros .search {
    display: flex;
}

#filtros .search input {
    margin-right: 1rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 5px;
}

#filtros .search input:focus {
    outline: none;
}

/* ----------------------------------------- Tabla */
/* ----------------------------------------- Header Tabla */
.card {
    padding: 1rem;
}

.header-tabla,
.producto {
    display: grid;
    grid-template-columns: 20px 2fr 3fr 2fr 2fr 2fr 3fr;
    text-align: center;
}

.header-campo p {
    font-weight: 700;
    font-size: 1.8rem; 
}

/* ----------------------------------------- body-tabla */

.producto {
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 1rem;
    margin-bottom: 5px;
}
.imagen img {
    width: 60px;
}
.body-campo {
    align-self: center;
}

.editar,
.desactivar,
.eliminar {
    position: relative;
    z-index: 1;
}

.editar:hover::before {
    content: 'editar';
}

.desactivar:hover::before {
    content: 'desactivar';
}

.eliminar:hover::before {
    content: 'eliminar';
}

.editar:hover::before,
.desactivar:hover::before,
.eliminar:hover::before {
    font-size: 1rem;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 1rem;
    z-index: 2;
}