<div class="card top-bar">
    <div class="izquierda">
        <select [formControl]="filtro" class="form-input" name="tipo" id="tipo">
            <option value="estado">Estado</option>
            <option value="categoria">Categoria</option>
            <option value="todos">Todos</option>
        </select>

        <select *ngIf="filtro.value === 'estado'" class="form-input ml" name="estado" id="estado">
            <option value="activo">Activo</option>
            <option value="desasctivado">Desactivado</option>
            <option value="nostock">Sin Existencias</option>
        </select>
        <select *ngIf="filtro.value === 'categoria'" class="form-input ml" name="categoria" id="categoria">
            <option value="1">Celulares</option>
            <option value="2">Tabletas</option>
            <option value="3">Computadoras</option>
            <option value="4">Electronicos</option>
        </select>
    </div>
    
    <div class="derecha">
        <div class="search">
            <input type="search" class="form-input w-auto m-0">
            <button type="button" class="btn ml">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>
        <button type="button" class="btn ml" [routerLink]="['producto']">Agregar un Producto</button>
    </div>
</div>

<div class="card mt">
    <div class="header-tabla">
        <div class="header-campo">
            <p>Imagen</p>
        </div>
        <div class="header-campo">
            <p>Nombre</p>
        </div>
        <div class="header-campo">
            <p>Disponible</p>
        </div>
        <div class="header-campo">
            <p>Precio</p>
        </div>
        <div class="header-campo">
            <p>Estado</p>
        </div>
        <div class="header-campo">
            <p>Opciones</p>
        </div>
    </div>
</div>