.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.izquierda {
    display: flex;
}

.derecha {
    display: flex;
}

.header-tabla {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 2fr 2fr;
    text-align: center;
}