<div class="contenedor fadeIn fast">
    <div class="pedido">
        <div class="detalles-pedido">
            <div class="tabla back-white">
                <div class="tabla-header">
                    <div class="header-row pd-1">
                        <div class="header-campo">
                            <h4>Direccion del envio</h4>
                        </div>
                        <div class="header-campo">
                            <h4>Comprador</h4>
                        </div>
                        <div class="header-campo">
                            <h4>Fecha</h4>
                        </div>
                    </div>
                </div>
                <div class="tabla-body">
                    <div class="body-row">
                        <div class="campo direccion">
                            <p>Calle: <span>Pereyra</span> Numero: <span>317</span></p>
                            <p>Colonia: <span>Zona Cetro</span></p>
                            <p>Ciudad: <span>Durango</span></p>
                        </div>
                        <div class="campo comprador">
                            <p>Nombre: <span>Ricardo Garcia Arreola</span></p>
                            <p></p>
                        </div>
                        <div class="campo fecha">
                            <p>Fecha de Envio: <span>17 Oct 2020 19:02:24</span></p>
                            <p>Fecha de Compra: <span>17 Oct 2020 18:52:31</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detalles-productos">
            <div class="tabla back-white">
                <div class="tabla-header">
                    <div class="header-row pd-1">
                        <div class="header-campo">
                            <h4>Detalles del Producto</h4>
                        </div>
                        <div class="header-campo">
                            <h4>Cantidad Solicitada</h4>
                        </div>
                        <div class="header-campo">
                            <h4>Estado</h4>
                        </div>
                        <div class="header-campo">
                            <h4>Precio</h4>
                        </div>
                        <div class="header-campo">
                            <h4>Total</h4>
                        </div>
                    </div>
                </div> <!-- tabla-header -->
                <div class="tabla-body">
                    <div class="body-row pd-1">
                        <div class="campo">
                            <h3>Mouse Gamer X</h3>
                            <p>Cantidad (Stock): <span>25</span></p>
                            <p>Estado: <span>Nuevo</span></p>
                        </div>
                        <div class="campo">
                            <p>1</p>
                        </div>
                        <div class="campo">
                            <p>En Proceso de envio</p>
                        </div>
                        <div class="campo">
                            $250
                        </div>
                        <div class="campo">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia id sequi libero eum consequuntur, hic deleniti consectetur ratione tempora corporis provident sunt vero omnis ipsam ad soluta. Incidunt, ex?
                        </div>
                    </div>
                    <div class="body-row pd-1">
                        <div class="campo">
                            <h3>Pantalla LG</h3>
                            <p>Cantidad (Stock): <span>4</span></p>
                            <p>Estado: <span>Nuevo</span></p>
                        </div>
                        <div class="campo">
                            <p>2</p>
                        </div>
                        <div class="campo">
                            <p>Enviado</p>
                        </div>
                        <div class="campo">
                            $8000
                        </div>
                        <div class="campo">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia id sequi libero eum consequuntur, hic deleniti consectetur ratione tempora corporis provident sunt vero omnis ipsam ad soluta. Incidunt, ex?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>