<div class="card flex space-between mt-2">
    <div class="izquierda">
        <select class="form-input ml" name="estado" id="estado">
            <option value="todos">Todos</option>
            <option value="activo">Activo</option>
            <option value="desactivo">Desactivo</option>
        </select>
    </div>
    <div class="derecha">
        <input type="text" placeholder="Buscar {{ origen  | titlecase }}" class="form-input mr">
        <button type="button" class="btn">Buscar</button>
    </div>
</div>