<div class="card pedido mt">
    <div class="campo">
        <p style="text-transform: uppercase;">12s8gkh5g41d6</p>
    </div>
    <div class="campo">
        <p>{{fecha}}</p>
    </div>
    <div class="campo">
        <p>{{hora}}</p>
    </div>
    <div class="campo">
        <p></p>
    </div>
    <div class="campo">
        <p><a routerLink="cliente">Ricardo Garcia</a></p>
    </div>
    <div class="campo">
        <p>pendiente de envio</p>
    </div>
    <div class="campo">
        <p><a routerLink="pedido">ver mas</a></p>
    </div>
</div>